body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}

#display {
    width: 300px;
    height: 300px;
    border: 1px solid;
    background-position: center;
    background-size: contain;
}