* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    text-transform: uppercase;
    border: black;
    background: none;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

span {
    font-size: 50px;
    padding: 10px;
    color: aquamarine;
}